<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <span>메인페이지</span>
    <br />
    <span>반갑습니다.</span>
  </body>
</html>
